/*******************************************************************************
 * General properties
 *******************************************************************************/

/*******************************************************************************
 * Colors 
 *
 *  Warm black 424242
 *  Coffee     6f4e37
 *******************************************************************************/

* {
    font-family: Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}



html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

button, select, option {
	background-color: black;
	border: 2px solid #e0e0ff;
}

button:hover {
	background-color: #2A2A2A;
}

button:active {
	background-color: #ffffff;
}

/*******************************************************************************
 * Page layout
 *******************************************************************************/


.grid-container {
	display: grid;
	grid-template-areas: 'header menu'
						 'controls main'
						 'footer-left footer';
	grid-template-rows: 48px 1fr 48px;
	grid-template-columns: 40vh 1fr;
	grid-gap: 1px;
	height: 100vh;
	width: 100vw;
	background-color: white;
	padding: 0;
	box-sizing: border-box;
}


.header {
	display: flex;
	align-items: baseline;
	justify-content: space-around;
}

#appname {
	font-size: 110%;
}

#edition_tag {
	font-size: 75%;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#donate {
	font-size: 90%;
}

.grid-container > div {
    /* defining a background-color here makes the canvas intransparent */
    text-align: left;
    padding: 4px;
}

.header {
    grid-area: header;
	margin: 0px;
	padding: 0px;
	color: #ededeb;
    background-color: #464242;
}
.menu {
    grid-area: menu;
	color: #ededeb;
    background-color: #464242;
}
.map {
	grid-area: main;
	z-index: 1;
	background: none;
	height: 100%;
	width: 100%;
	position: relative; /* Creates positioning context */
	overflow: hidden; /* Contains absolutely positioned children */
}
.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; /* Increase to be higher than Leaflet's highest pane */
    background: none;
    pointer-events: none;
}
@media only screen and (max-width: 600px) {
	.grid-container {
		grid-template-columns: 1fr;
		grid-template-rows: 48px auto 48px;
		height: 100vh;
		width: 100vw;
	}
	.menu, .controls, .footer, .footer-left {
		font-size: 90%;
		padding: 2px;
	}
    .footer, .footer-left {
        height: 48px;
        align-items: center;
    }	
	.map, .map-overlay {
		height: 100%;
		width: 100%;
		min-height: 200px;
	}
}
.controls {
	grid-area: controls;
	display: grid;
	grid-template-columns: 100px 40px 40px 40px 40px 40px 40px;
	grid-template-rows: repeat(20, minmax(25px, 36px));
	color: #ededeb;
	background-color: #464242;
	align-items: flex-start;
}


.footer-left {
    grid-area: footer-left;
	height: 48px;
	color: #ededeb;
    background-color: #464242; 
}
.footer {
    grid-area: footer;
	height: 48px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: #ededeb;
    background-color: #464242; 
}

#wind-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100; /* Higher value relative to parent */
    pointer-events: none;
}

/*******************************************************************************
 * Controls
 *******************************************************************************/

select, option, input, button {
	color: #ededeb;
	background-color: black;
	margin: 1px 1px;
	border: 2px solid #203040;
}

button:disabled {
	color: #606080;
	background-color: #dddddd;
}

label {
	font-size: 90%;
}

.lbl_option {
	display:inline-block;
	text-align: right;
	width: 40px;
}

input[type=checkbox] {
	-webkit-transform: scale(1.4); /* Safari and Chrome */
	transform: scale(1.4);
}

/* Forecast slider*/

.forecast-info {
	display: flex;
	flex-direction: row;
	justify-self: end;
	align-items: center;
	justify-content: space-between;
}

.forecast-header {
	margin: 2px 2px 2px 10px;
}
.forecast-slider-label {
	margin: 2px 2px;
}
.forecast-slider {
	display: flex;
	flex-direction: row;
	justify-self: end;
	align-items: center;
	margin: 2px 10px;
}

/* Position entry */
.position-label {
	grid-row: 1;
	grid-column: 1;
}
.position-input {
	grid-row: 1;
	grid-column: 2;
}

.position-set {
	grid-row: 1;
	grid-column: 7;
}


/* NMEA */
#tb_nmeaport {
	width: 5em;
}

.nmea-label {
	grid-row: 2;
	grid-column: 1;
}
.nmea-port {
	grid-row: 2;
	grid-column: 2;
}
.nmea-update {
	grid-row: 2;
	grid-column: 4;
}
.nmea-reset {
	grid-row: 2;
	grid-column: 6;
}

/* Start delayed */
.delayed-label {
	grid-row: 4;
	grid-column: 1;
}
.delayed-cb {
	grid-row: 4;
	grid-column: 2;

}
.delayed-entry {
	grid-row: 4;
	grid-column: 3;

}

/* Routing duration */
.duration-label {
	grid-row: 5;
	grid-column: 1;

}

.duration-selector {
	grid-row: 5;
	grid-column: 2;
}


/* Resolution */
.resolution-label {
	grid-row: 6;
	grid-column: 1;

}
.resolution-selector {
	grid-row: 6;
	grid-column: 2;
}

/* GFS mode */
.gfsmode-label {
	grid-row: 6;
	grid-column: 4/7;

}
.gfsmode-selector {
	grid-row: 6;
	grid-column: 7;
}


.polars-label {
	grid-row: 7;
	grid-column: 1;
}

.polars-selector {
	grid-row: 7;
	grid-column: 2/7;
}

/* Boat state */
.boatstate-label {
	grid-row: 8;
	grid-column: 1;

}
.boatstate-group {
	grid-row: 8;
	grid-column: 2/7;
}


/* Hide wind */
.displaywind-label {
	grid-row: 11;
	grid-column: 1;

}
.displaywind-checkbox {
	grid-row: 11;
	grid-column: 2;

}

/* Display tracks */
.displaytracks-label {
	grid-row: 12;
	grid-column: 1;
}
.displaytracks-checkbox {
	grid-row: 12;
	grid-column: 2;
}

/* Display tracks */
.cursor-label {
	grid-row: 13;
	grid-column: 1;
}
.cursor-select {
	grid-row: 13;
	grid-column: 2/7;
}

/* Execute */
.execute-button {
	grid-row: 9;
	grid-column: 1/2;

}

/* Progress bar */
.progress-bar {
	grid-row: 10;
	grid-column: 1;

}


/* Cursor position */

.cursor-position {
	grid-row: 19;
	grid-column: 2;
	margin: 2px 20px;
}


/* Cursor wind */
.current-wind {
	grid-row: 19;
	grid-column: 1 / 2;
}

/* Current TWA */
.current-twa-label {
	grid-row: 15;
	grid-column: 1;
	color: #60B260;
	font-weight: bold;
}
.current-twa {
	grid-row: 15;
	grid-column: 2;
	color: #60B260;
	font-weight: bold;
}

/* Current Heading */
.current-heading-label {
	grid-row: 16;
	grid-column: 1;
	color: #00c2f8;
	font-weight: bold;
}
.current-heading {
	grid-row: 16;
	grid-column: 2;
	color: #00c2f8;
}

/* Statistics */
.statistics-label {
	grid-row: 17;
	grid-column: 1;
	font-style: italic;
	font-weight: bold;
}

/* Download */
.download-button {
	grid-row: 17;
	grid-column: 2/7;
}

.statistics-from-label {
	grid-row: 18;
	grid-column: 1;
	align-self: flex-start;
}
.statistics-from {
	grid-row: 18;
	grid-column: 2/7;
	align-self: flex-start;
}

.statistics-duration-label {
	grid-row: 19;
	grid-column: 1;
	align-self: flex-start;
}
.statistics-duration {
	grid-row: 19;
	grid-column: 2/7;
	align-self: flex-start;
}

.statistics-sails-label {
	grid-row: 20;
	grid-column: 1;
	align-self: flex-start;
	overflow: auto;
}
.statistics-sails {
	grid-row: 20;
	grid-column: 2/7;
	align-self: flex-start;
	overflow: auto;
}

.statistics-min-wind-label {
	grid-row: 21;
	grid-column: 1;
	align-self: flex-start;
}
.statistics-min-wind {
	grid-row: 21;
	grid-column: 2/7;
	align-self: flex-start;
}

.statistics-min-twa-label {
	grid-row: 22;
	grid-column: 1;
	align-self: flex-start;
}
.statistics-min-twa {
	grid-row: 22;
	grid-column: 2/7;
	align-self: flex-start;
}

.statistics-polars-label {
	grid-row: 23;
	grid-column: 1;
	align-self: flex-start;
}
.statistics-polars {
	grid-row: 23;
	grid-column: 2/7;
	align-self: flex-start;
}

.statistics-options-label {
	grid-row: 24;
	grid-column: 1;
	align-self: flex-start;
}
.statistics-options {
	grid-row: 24;
	grid-column: 2/7;
	align-self: flex-start;
}


/* Legend */

.legend {
	display: flex;
	flex-direction: row;
	font-size: 80%;
}

.colorbox {
	width: 20px; 
	height: 16px; 
	margin-left: 0px;
	margin-right: 0px;
	padding: 1px;
	text-align: center;
}

.leaflet-pane {
    z-index: 400 !important;
}

.leaflet-top, 
.leaflet-bottom {
    z-index: 900 !important; /* Controls should still be clickable */
}


