/*******************************************************************************
 * General properties
 *******************************************************************************/

/*******************************************************************************
 * Colors 
 *
 *  Warm black 424242
 *  Coffee     6f4e37
 *******************************************************************************/

* {
    font-family: Courier;
	border-radius: 0px;
}

html, body {
	margin: 0px;
}

html {
	margin: 0px 0px 0px 0px;
	background-color: #504040;
}

.container {
	max-height: 100%;
	height: 100%;
	background-color: white;
	overflow:auto;
}

th, td {
	border-radius: 0px;
	text-align: left;
}

palette {
	gridBG:  #f0f0f0;
	color00: #ffffff;
	color01: #8080a0;
	color02: #464242;
	color03: #222222;
	color04: #000000;
	color05: #00c2ff;
	color06: #308040;
	color07: #504040;
	color08: #d00000;
	color08: #d43830;
	color09: #ff0000;
	color10: #ededeb;
	color17: #706060;
}


table {
	table-layout: auto;
	width: 100%;
}

code {
	background-color:  #a0a0a0;
}

tr:hover {
	background-color:  #a0a0a0;
}

ul {
  list-style-type: square;
}

a:link {
	color: #00c2ff;
}

a:visited {
	color:  #00c2ff;
}

a:hover {
}

/* selected link */
a:active {
  color: #222222;
}

figure {
	padding: 0px;
	margin: 15px;
}

.content-pane {
	margin: 10px;
	padding: 2px 10px 30px 20px;
	color: #ededeb;
	background-color: #504040;
	overflow: auto;
}

/*******************************************************************************
 * Tabs
 ******************************************************************************/

.tabbed {
}

.tabbed figure { 
   display: block; 
   margin-left: 0; 
   border-bottom: 1px solid #46424;
   clear: both;
}

.tabbed > input,
.tabbed figure > div { display: none; }

.tabbed figure>div {
  padding: 10px 5px 10px 5px;
  width: 100%;
  border: 1px solid silver;
  background: #fff;
  line-height: 1.4em;
  letter-spacing: 0.3px;
  color: #444;
}

#tab1:checked ~ figure .tab1,
#tab2:checked ~ figure .tab2,
#tab3:checked ~ figure .tab3,
#tab4:checked ~ figure .tab4,
#tab5:checked ~ figure .tab5,
#tab6:checked ~ figure .tab6 {
	display: block;
}


nav label {
   float: left;
   padding: 12px 15px;
   border-top: 1px solid silver;
   border-right: 1px solid silver;
   background: #504040;
   color: #eee;
}

nav label:nth-child(1) { border-left: 1px solid silver; }
nav label:hover { background: #706060; }
nav label:active { background: #706060; }

#tab1:checked ~ nav label[for="tab1"],
#tab2:checked ~ nav label[for="tab2"],
#tab3:checked ~ nav label[for="tab3"],
#tab4:checked ~ nav label[for="tab4"],
#tab5:checked ~ nav label[for="tab5"],
#tab6:checked ~ nav label[for="tab6"] {
  background: white;
  color: #111;
  position: relative;
  border-bottom: none;
}

#tab1:checked ~ nav label[for="tab1"]:after,
#tab2:checked ~ nav label[for="tab2"]:after,
#tab3:checked ~ nav label[for="tab3"]:after,
#tab4:checked ~ nav label[for="tab4"]:after,
#tab5:checked ~ nav label[for="tab5"]:after,
#tab6:checked ~ nav label[for="tab6"]:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  left: 0;
  bottom: -1px;
}

/*******************************************************************************
 * Page layout
 *******************************************************************************/

.home {
	display:flex;
	flex-direction:horizontal;
}


.welcome {
	width: 50%;
	margin: 20px 20px 20px 20px;
}

.table-header {
	color: #ededeb;
	background-color: #706060;
}
.table {
	color: #ededeb;
	background-color: #504040;
}


.contact {
	display :flex;
	flex-direction: row;
	font-size: 90%;
	justify-content: space-between;
	background-color:grey;
}

div.fixed {
	position: absolute;
	top: 10px;
	right: 2px;
}

#race_list {
	width: 100%;
}

#bt_submit {
	font-size: 110%;
}
