* {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#wrapper {
	width: auto;
}

header, footer {
	display: flex;
	flex-direction: row;
	color: #ffffff;
	background-color:#505056;
}

.container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  position:relative;
}

.flex-minwidth {
  -webkit-flex: initial;
          flex: initial;
  width: 120px;
  min-width: 70px;
}

.flex-fixed {
  -webkit-flex: none;
          flex: none;
  width: 200px;
}

.flex1 {
  -webkit-flex: 1;
          flex: 1;
}
.flex2 {
  -webkit-flex: 2;
          flex: 2;
}

.col {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
	position:relative;
}

.overlay {
	position:absolute;
	border: 4px solid green;
	width:auto;
	height:auto;
}

.cell {
    display: inline-flex;
    flex-direction: row;
	justify-content: flex-start;
	align-items: center;
    padding: 2px;
}
.cell label {
	flex: 0 0 9em;
	font-size: 90%
}

#player_area {
	border: 2px solid black;
	background: none;
	pointer-events: none;
}

#map_canvas {
	background:none;
	pointer-events:none;
}


.colorbox {
	width:20px; 
	height:16px; 
	margin-left: 0px;
	margin-right: 0px;
	padding: 1px;
	text-align:center;
}