* {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#wrapper {
	width: auto;
}

header, footer {
	color: #ffffff;
	background-color:#505056;
	display: flex;
	flex-direction: row;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%; min-width:25em;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
	display: flex;
	flex-direction: column;
    margin: 0px;
    border: none;
    padding: 5px;
}

#display {
	width: 1520px;
	height: 820px;
	padding: 0px;
}

#googleMap {
	position:absolute;
	width: 1520px;
	height: 820px;
	border: 0px solid black;
	border-radius: 4px;
}

#player_area {
	position:absolute;
	width: 1520px;
	height: 820px;
	border: 0px solid #505056;
	background: none;
	pointer-events: none;
}

#map_canvas {
	width: 1520px;
	height: 820px;
	background:none;
	pointer-events:none;
	border: 0px solid green;
}

.row {
	display: flex;
	flex-direction: row;
}
.row::after {
    content: "";
}

.cell {
    display: inline-flex;
    flex-direction: row;
	justify-content: flex-start;
	align-items: center;
    padding: 2px;
}
.cell label {
	flex: 0 0 9em;
	font-size: 90%
}

.colorbox {
	width:20px; 
	height:16px; 
	margin-left: 0px;
	margin-right: 0px;
	padding: 1px;
	text-align:center;
}